<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>studentLogin</servlet-name>
        <servlet-class>servlet.studentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>servlet.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentRegister</servlet-name>
        <servlet-class>servlet.studentRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaCalculation</servlet-name>
        <servlet-class>servlet.aaCalculation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaGrammar</servlet-name>
        <servlet-class>servlet.aaGrammar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaSpelling</servlet-name>
        <servlet-class>servlet.aaSpelling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaFormula</servlet-name>
        <servlet-class>servlet.aaFormula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaLogical</servlet-name>
        <servlet-class>servlet.aaLogical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaVerbal</servlet-name>
        <servlet-class>servlet.aaVerbal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>achangePassword</servlet-name>
        <servlet-class>servlet.achangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>schangePassword</servlet-name>
        <servlet-class>servlet.schangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentLogin</servlet-name>
        <url-pattern>/studentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentRegister</servlet-name>
        <url-pattern>/studentRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaCalculation</servlet-name>
        <url-pattern>/aaCalculation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaGrammar</servlet-name>
        <url-pattern>/aaGrammar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaSpelling</servlet-name>
        <url-pattern>/aaSpelling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaFormula</servlet-name>
        <url-pattern>/aaFormula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaLogical</servlet-name>
        <url-pattern>/aaLogical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaVerbal</servlet-name>
        <url-pattern>/aaVerbal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>achangePassword</servlet-name>
        <url-pattern>/achangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>schangePassword</servlet-name>
        <url-pattern>/schangePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
